apiVersion: v1
kind: Service
metadata:
  name: kafka-service
  namespace: helpme
  labels:
    app: kafka
spec:
  type: ClusterIP
  ports:
  - port: 9092
    targetPort: 9092
    protocol: TCP
    name: kafka
  - port: 29092
    targetPort: 29092
    protocol: TCP
    name: kafka-host
  selector:
    app: kafka