apiVersion: v1
kind: Service
metadata:
  name: influxdb-service
  namespace: helpme
  labels:
    app: influxdb
spec:
  type: ClusterIP
  ports:
  - port: 8086
    targetPort: 8086
    protocol: TCP
    name: influxdb
  selector:
    app: influxdb